<h1>Movie Results</h1>
<% movies.Search.forEach(function(currentMovie){ %>
	<ul>
		<li>
			<strong><%= currentMovie.Title %></strong> - <%= currentMovie.Year%>
		</li>	
	</ul>
<% }) %>
<a href="/">Search Again</a>