<% include partials/header %>

<h1>Welcome to the home page of the EJS Demo!</h1>
<h2>Please enjoy some dog photo</h2>

<img src="https://s-media-cache-ak0.pinimg.com/originals/ec/7b/c5/ec7bc5c324ef18beee8534f0690f4262.jpg">

<% include partials/footer %>