<% include partials/header %>

<h1>You fell in love with: <%= thingWeLove %></h1>

<p>NOTE ** This is the EJS file not a thing from res.send</p>

<!-- we use the <% %> on EVERY line of JS here. The difference between <%= %> and <% %>is that the = makes it render on the page immediately -->
<% if(thingWeLove.toLowerCase() === "cookies"){ %>
	<p>GOOD MOTHER FLAPPING CHOICE! FUCKING COOKIES!</p>
	<img src="http://data.whicdn.com/images/828262/large.jpg">
<% } %>

<% include partials/footer %>